@mixin reset-list {
  list-style: none;
  padding-inline-start: 0;
}

@mixin reset-anchor {
  text-decoration: none;
  color: inherit;
}

@mixin reset-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}