.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  width: 100%;
  margin-block: 2rem;
  margin-inline: 0.75rem;

  &__button {
    padding: 1em;
    border: none;
    background-color: transparent;
  }

  &__logo {
    position: absolute;
    right: 0;
    left: 0;
    margin-inline: auto;
  }
}