.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  width: 100%;
  margin-block: 2rem;
  padding-inline-start: 0.75rem;

  &__button {
    padding: 1em;
    border: none;
    background-color: transparent;
  }

  &__logo {
    position: absolute;
    right: 0;
    left: 0;
    margin-inline: auto;
  }
}

@media (min-width: 1280px) {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: fit-content;
    margin-block: 0;
    padding-block: 2.25rem;
    padding-inline: 1.5rem;

    &__button {
      display: none;
    }

    &__logo {
      position: static;
      right: unset;
      left: unset;
      padding-block: 1em;
      padding-inline: 0.875em;
    }
  }
}