@use '../abstracts/mixins';
@use '../abstracts/variables';

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-block: 2rem;
  padding-inline: 0.75rem;
  transform: translateY(-212px);
  transition: transform 800ms ease-in-out;
  background-color: variables.$color-primary-00;

  &.active {
    transform: translateY(0);
  }

  &__button {
    padding: 1em;
    border: none;
    background-color: transparent;
  }

  &__list {
    @include mixins.reset-list;

    display: flex;
    flex-wrap: wrap;
    padding-inline-end: 1em;
  }

  &__item {
    &>a {
      @include mixins.reset-anchor;

      display: inline-block;
      padding-block: 1em;
      padding-inline: 0.875em;
      font-weight: 600;
    }
  }
}