@use './typography';
@use '../abstracts/mixins';
@use '../abstracts/variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  @include typography.font-size('md');

  font-family: 'League Spartan', sans-serif;
  background-color: variables.$color-primary-00;
  color: variables.$color-primary-03;
}

picture,
img,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  position: relative;
}

.skip-link {
  @include mixins.reset-anchor;

  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 900;
  display: block;
  padding-block: 0.875em;
  padding-inline: 1.25em;
  text-transform: uppercase;
  border: none;
  transform: translateY(-300px);
  transition: transform 500ms ease-in-out;
  background-color: variables.$color-primary-03;
  color: variables.$color-primary-00;

  &:focus {
    transform: translateY(0);
  }
}