@use '../abstracts/variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'League Spartan', sans-serif;
  background-color: variables.$color-primary-00;
  color: variables.$color-primary-03;
}

picture,
img,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  position: relative;
}